{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <title>Echo</title>

    {% tailwind_css %}
  </head>
  <body>
    <div class="py-4 w-full fixed top-0 bg-blue-800">{% include 'news/navbar.html' %}</div>
    <div class="md:grid md:grid-cols-3 lg:grid lg:grid-cols-4 mx-auto p-8 max-w-screen-2xl mt-32">
      <!--LEFT  -->
      <div class="md:col-span-1 md:flex hidden">{% include 'news/sidebarLeft.html' %}</div>

      <!-- CENTER -->
      <div class="md:col-span-2 mx-auto bg-blue-100 md:mt-2 mt-20">{% block content %}{% endblock content %}</div>

      <!-- RIGHT -->
      <div class="w-full md:col-span-1 md:hidden hidden lg:flex p-4">{% include 'news/sidebarRight.html' %}</div>
    </div>
  </body>
</html>
