<div class="mx-auto fixed">
  <div class="sm:rounded-lg">
    <table class="text-sm text-left">
      <thead class="text-black border border-blue-600">
        <th scope="row" class="px-6 py-4 font-bold text-lg text-blue-800 lg:w-56 md:w-56 xl:w-72">Categories</th>
      </thead>
      <tbody>
        <tr class="bg-blue-600 text-black hover:scale-105 hover:bg-blue-700 transition border-b">
          <th scope="row" class="px-6 py-4 font-medium text-white "><a href="{% url 'index' %}?category=Business" class="block">Business</a></th>
        </tr>
        <tr class="bg-blue-600 text-black hover:scale-105 hover:bg-blue-700 transition border-b">
          <th scope="row" class="px-6 py-4 font-medium text-white"><a href="{% url 'index' %}?category=Health" class="block">Health</a></th>
        </tr>
        <tr class="bg-blue-600 text-black hover:scale-105 hover:bg-blue-700 transition border-b">
          <th scope="row" class="px-6 py-4 font-medium text-white"><a href="{% url 'index' %}?category=Entertainment" class="block">Entertainment</a></th>
        </tr>
        <tr class="bg-blue-600 text-black hover:scale-105 hover:bg-blue-700 transition border-b">
          <th scope="row" class="px-6 py-4 font-medium text-white"><a href="{% url 'index' %}?category=Sports" class="block">Sports</a></th>
        </tr>
        <tr class="bg-blue-600 text-black hover:scale-105 hover:bg-blue-700 transition border-b">
          <th scope="row" class="px-6 py-4 font-medium text-white"><a href="{% url 'index' %}?category=Science" class="block">Science</a></th>
        </tr>
        <tr class="bg-blue-600 text-black hover:scale-105 hover:bg-blue-700 transition border-b">
          <th scope="row" class="px-6 py-4 font-medium text-white"><a href="{% url 'index' %}?category=Technology" class="block">Technology</a></th>
        </tr>
        {% comment %} <tr class="bg-red-600 text-black hover:scale-105 hover:bg-red-700 transition border-b">
          <th scope="row" class="px-6 py-4 font-medium text-white"><a href="{% url 'schema-swagger-ui' %}" target="_blank" class="block">API Documentation</a></th>
        </tr>
        <tr class="bg-red-600 text-black hover:scale-105 hover:bg-red-700 transition border-b">
          <th scope="row" class="px-6 py-4 font-medium text-white"><a href="{% url 'apiview' %}" class="block">Database News</a></th>
        </tr> {% endcomment %}
      </tbody>
    </table>
  </div>
</div>
